.sidebar-title {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sidebar-label {
    cursor: pointer;
    margin-bottom: 12px;
    padding-left: 35px;
    display: block;
    position: relative;
}

.sidebar-label input {
    font-size: 2px;
    cursor: pointer;
    position: absolute;
    margin-left: -1.5rem;
}

.oil {
    margin-top: -35px;
    margin-left: 2.5rem;
    font-size: 12px;
}

@media (max-width: 768px) {
    .oil {
        margin-left: 0;
        font-size: x-small;
    }
}