.products-section {
    margin-top: 42.5rem;
    margin-left: 20rem;
}

.products-title {
    font-size: x-large;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-btn {
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    padding: 8px 15px;
    margin-right: 6px;
    cursor: pointer;
    font-size: 12px;
}

@media (max-width: 768px) {
    .products-section {
        margin-top: 0;
        margin-left: 135px;
    }

    .product-btn {
        font-size: x-small;
        padding: 5px 10px;
        color: black;
    }
}